{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Rating</h1>
    <form method="POST" action="/subrate/{{ book.id }}">
        <input type="text" placeholder="Book Name" value="{{ book.title }}" readonly>
        <input type="text" placeholder="Authors" value="{{ book.authors }}" readonly>
        <input type="number" name="rating" placeholder="Your Rate">
        <button type="submit">Submit</button>
    </form>
    <a href="/wishlist" class="return-btn">Return</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <br>
        <br>
        <div class="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}